__pycache__
*~
packer_compiled

.config/fish/fish_variables
.config/fish/fish_variables
.config/fish/functions/*
.config/fish/completions/*
.config/fish/conf.d/*

.config/nvim/plugin/packer_compiled.lua
.config/mpv/watch_later

.config/autorandr/*/
