[init]
	defaultBranch = main

[user]
	email = polsust@gmail.com
	name = polsust

[alias]
	s = status
	c = commit -m 
	b = branch
	a = add
	d = difftool

[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[merge]
	tool = nvim -f -c \"Gdiff\" \"$MERGED\" 
[pull]
	rebase = false
